* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(208, 32, 147);
}


.header > :first-child {
  margin-right: auto;
}

.header > div {
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
  background-color: pink;
}

main {
  display: flex;
  justify-content: center;
}

.left {
  width: 300px;
  background-color: rgb(149, 241, 149);
}

.right {
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
}

.right > div {
  height: 130px;
  margin: 10px;
  flex-basis: 200px;
  background-color: yellow;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: rgb(56, 90, 184);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  height: 40px;
  margin: 10px;
  flex-basis: 45%;
  max-width: 600px;
  background-color: aqua;
}